<main>
    {{> header}}

        {{!-- <div class="table-responsive">
        <table class="table table-bordered   table-striped" style="margin-top:100px">
            <thead class="table__head">
                <tr class="winner__table">
                <th>result_id</th>
                <th>polling_unit_uniqueid</th>
                <th>party_abbreviation</th>
                <th>party_score</th>
                <th>entered_by_user</th>
                <th>date_entered</th>
                </tr>
            </thead>
            <tbody>
                {{#go}}
                <tr>
                <td>{{result_id}}</td>
                <td>{{polling_unit_uniqueid}}</td>
                <td>{{party_abbreviation}}</td>
                <td>{{party_score}}</td>
                <td>{{entered_by_user}}</td>
                <td>{{date_entered}}</td>
                </tr>
                {{else}}
                <p></p>                
                {{/go}}
            </tbody>

        </table>
    </div> --}}

    <div class="row d-flex m-2">
        <div class="col-5 border-end">
            {{#each polling_unit_id}}
                <p>polling_unit_id: {{this}}</p>
            {{/each }}
        </div>
        <div class="col-7">
            {{#polling_unit_results}}
            <div class="d-flex justify-content-around">
                <p>polling_unit_uniqueid: {{polling_unit_uniqueid}}</p>
                <p>party_abbreviation: {{party_abbreviation}}</p>
                <p>party_score: {{party_score}}</p>
            </div>
            {{else}}
            no results found
            {{/polling_unit_results}}
        </div>
    </div>
    {{!-- {{#polling_unit_results}}
    <p>{{polling_unit_results}}</p>
    {{else}}
    <p>Go back home</p>
    {{/polling_unit_results}} --}}

</main>